{% extends 'body.html' %}

{% block title%}
Главная страница
{% endblock %}
{% block body%}
<div class="Zagolovok p-md-5 m-md-10 text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal"><ya-tr-span data-type="trSpan" data-selected="false">Заголовок</ya-tr-span></h1>
        <p class="lead fw-normal"><ya-tr-span data-type="trSpan">подзаголовок. </ya-tr-span><ya-tr-span data-ch="0"
                data-type="trSpan">Начните.</ya-tr-span></p>
        <a class="btn btn-outline-secondary" href="#"><ya-tr-span data-type="trSpan">Скоро выйдет</ya-tr-span></a>
    </div>
</div>

<h1 class="name"> Кофейные напитки на основе эспрессо</h1>
<selection class="coffe_1">
    <div class="coffe_img">
        <img src="./static/images/экспрессо.jpg" width="500" height="400">
    </div>
    <div class="descriptoin">
        <h1 class="title"> Экспрессо </h1>
        <span class="information">Эспрессо – чёрный кофе, приготовленный в кофемашине или специальной кофеваркe. Готовый
            напиток имеет плотную пенку однородного золотисто-орехового цвета, толщиной не менее 2 мм. Во вкусе эспрессо
            гармонично сочетаются сладость, горечь и лёгкая кислинка.</span>

        <div class="buy">
            <div class="apartament">
                <div class="price">
                    <span> 100 руб.</span>
                </div>

            </div>
            <div class="apartament_1">
                <div class="weight">
                    <span> 30 мл</span>
                </div>

            </div>
        </div>
        <button class="custom-btn btn-1">Купить</button>
        <button class="bt_minus">-</button>
        <input type="text" value="1" size="2" class="quantity" data-max-count="20">
        <button class="bt_plus">+</button>
    </div>
</selection>

<selection class="coffe_1">
    <div class="coffe_img">
        <img src="./static/images/американо.jpg" width="500" height="400">
    </div>
    <div class="descriptoin">
        <h1 class="title"> Американо </h1>
        <span class="information"> Американо - амый простой и классический черный кофе на основе эспрессо. В американо
            добавляется немного горячей воды. По желанию можно добавить сахар, сливки, молоко или даже лед.</span>

        <div class="buy">
            <div class="apartament">
                <div class="price">
                    <span> 120 руб.</span>
                </div>
                <div class="price_1">
                    <span> 240 руб.</span>
                </div>
            </div>
            <div class="apartament_1">
                <div class="weight">
                    <span> 150 мл</span>
                </div>
                <div class="weight_1">
                    <span> 250 мл</span>
                </div>
            </div>
        </div>
        <button class="custom-btn btn-1">Купить</button>
        <button class="bt_minus">-</button>
        <input type="text" value="1" size="2" class="quantity" data-max-count="20">
        <button class="bt_plus">+</button>
    </div>
</selection>

<selection class="coffe_1">
    <div class="coffe_img">
        <img src="./static/images/доппио.webp" width="500" height="400">
    </div>
    <div class="descriptoin">
        <h1 class="title"> Доппио </h1>
        <span class="information"> Доппио – это всегда две порции эспрессо, налитые в одну чашку. От обычной порции
            эспрессо доппио отличается только объёмом и удвоенным количеством кофеина в составе.</span>

        <div class="buy">
            <div class="apartament">
                <div class="price">
                    <span> 150 руб.</span>
                </div>

            </div>
            <div class="apartament_1">
                <div class="weight">
                    <span> 60 мл</span>
                </div>
            </div>
        </div>
        <button class="custom-btn btn-1">Купить</button>
        <button class="bt_minus">-</button>
        <input type="text" value="1" size="2" class="quantity" data-max-count="20">
        <button class="bt_plus">+</button>
    </div>
</selection>

<h1 class="name_2">Кофейные напитки с молоком</h1>
<selection class="coffe_1">
    <div class="coffe_img">
        <img src="./static/images/Капучино.webp" width="500" height="400">
    </div>
    <div class="descriptoin">
        <h1 class="title"> Капучино </h1>
        <span class="information">Капучино – итальянский кофейный напиток на основе эспрессо. Классический вариант
            включает в себя двойную порцию черного кофе, горячее молоко и густую молочную пену, еще добавляют в напиток
            корицу, шоколадную крошку, апельсиновую цедру. Капучино обладает мягким вкусом с легкой кофейной горчинкой.
            Напиток получается сладковатым даже без добавления сахара.</span>

        <div class="buy">
            <div class="apartament">
                <div class="price">
                    <span> 150 руб.</span>
                </div>
                <div class="price_1">
                    <span> 250 руб.</span>
                </div>
            </div>
            <div class="apartament_1">
                <div class="weight">
                    <span> 200 мл</span>
                </div>
                <div class="weight_1">
                    <span> 350 мл</span>
                </div>
            </div>
        </div>
        <button class="custom-btn btn-1">Купить</button>
        <button class="bt_minus">-</button>
        <input type="text" value="1" size="2" class="quantity" data-max-count="20">
        <button class="bt_plus">+</button>
    </div>
</selection>

<selection class="coffe_1">
    <div class="coffe_img">
        <img src="./static/images/Латте.jpg" width="500" height="400">
    </div>
    <div class="descriptoin">
        <h1 class="title"> Латте </h1>
        <span class="information">Латте напоминает капучино, но в нем больше вспененного молока. И если в капучино идет
            только пена, то в латте есть еще и обычный молочный слой.</span>
        <div class="buy">
            <div class="apartament">
                <div class="price">
                    <span> 150 руб.</span>
                </div>
            </div>
            <div class="apartament_1">
                <div class="weight">
                    <span> 250 мл</span>
                </div>
            </div>
        </div>
        <button class="custom-btn btn-1">Купить</button>
        <button class="bt_minus">-</button>
        <input type="text" value="1" size="2" class="quantity" data-max-count="20">
        <button class="bt_plus">+</button>
    </div>
</selection>

<selection class="coffe_1">
    <div class="coffe_img">
        <img src="./static/images/Венский кофе.jpeg" width="500" height="400">
    </div>
    <div class="descriptoin">
        <h1 class="title"> Венский кофе </h1>
        <span class="information">Венский меланж представляет собой подслащенный черный кофе, на который сверху
            выкладывают сливочную пенку либо взбитые сливки. Шапку из взбитых сливок часто посыпают корицей, тертым
            шоколадом, цедрой, топингами.</span>
        <div class="buy">
            <div class="apartament">
                <div class="price">
                    <span> 170 руб.</span>
                </div>
            </div>
            <div class="apartament_1">
                <div class="weight">
                    <span> 100 мл</span>
                </div>
            </div>
        </div>
        <button class="custom-btn btn-1">Купить</button>
        <button class="bt_minus">-</button>
        <input type="text" value="1" size="2" class="quantity" data-max-count="20">
        <button class="bt_plus">+</button>
    </div>
</selection>

<h1 class="name_3">Холодные кофейные напитки</h1>
<selection class="coffe_1">
    <div class="coffe_img">
        <img src="./static/images/фраппе.jpg" width="500" height="400">
    </div>
    <div class="descriptoin">
        <h1 class="title"> Фраппе </h1>
        <span class="information">Фраппе – чёрный кофе с пенкой, взбитый со льдом. В напиток добавляют сахар, молоко,
            сливки, мороженое, ликёры, сиропы, пряности. Фраппе обязательно взбивают, этим он отличается от всех других
            разновидностей айс кофе.</span>
        <div class="buy">
            <div class="apartament">
                <div class="price">
                    <span> 210 руб.</span>
                </div>
            </div>
            <div class="apartament_1">
                <div class="weight">
                    <span> 300 мл</span>
                </div>
            </div>
        </div>
        <button class="custom-btn btn-1">Купить</button>
        <button class="bt_minus">-</button>
        <input type="text" value="1" size="2" class="quantity" data-max-count="20">
        <button class="bt_plus">+</button>
    </div>
</selection>

<selection class="coffe_1">
    <div class="coffe_img">
        <img src="./static/images/экспрессо-тоник.jpg" width="500" height="400">
    </div>
    <div class="descriptoin">
        <h1 class="title"> Эспрессо-тоник </h1>
        <span class="information">Эспрессо-тоник - один из популярных летних безалкогольных коктейлей. В нём
            используется тоник, который дает умеренную горечь. При этом сладости практически не ощущается.</span>
        <div class="buy">
            <div class="apartament">
                <div class="price">
                    <span> 220 руб.</span>
                </div>
            </div>
            <div class="apartament_1">
                <div class="weight">
                    <span> 300 мл</span>
                </div>
            </div>
        </div>
        <button class="custom-btn btn-1">Купить</button>
        <button class="bt_minus">-</button>
        <input type="text" value="1" size="2" class="quantity" data-max-count="20">
        <button class="bt_plus">+</button>
    </div>
</selection>

<selection class="coffe_1">
    <div class="coffe_img">
        <img src="./static/images/Кофейный смузи.jpg" width="500" height="400">
    </div>
    <div class="descriptoin">
        <h1 class="title"> Кофейный смузи </h1>
        <span class="information">Кофеный смузи - смузи на основе эспрессо и йогурта. В него добавляют свежие ягоды или
            фрукты, немного какао и специи.</span>
        <div class="buy">
            <div class="apartament">
                <div class="price">
                    <span> 250 руб.</span>
                </div>
            </div>
            <div class="apartament_1">
                <div class="weight">
                    <span> 300 мл</span>
                </div>
            </div>
        </div>

        <button class="custom-btn btn-1">Купить</button>

        <button class="bt_minus">-</button>
        <input type="text" value="1" size="2" class="quantity" data-max-count="20">
        <button class="bt_plus">+</button>

    </div>
</selection>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
    integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

<section class="container-fluid sec-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title">О нас</div>
                        <div class="card-text">
                            <p>Низкие цены на любимые напитки<br>      
                            Быстрая доставка по колледжу<br>
                            Скидки для постоянных покупателей</p>
                        </div>
                    </div>
                </div><!--.card-->
            </div><!--.col-->
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title">Данные</div>
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-phone ml-3"></i>
                                    <span>8-920-160-08-94</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-map-marker ml-3"></i>
                                    <span>г.Тверь, наб.Реки Лазури</span>
                                </div>
                            </div><!--.row-->
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-envelope-open ml-3"></i>
                                    <span>bodrcoffee@gmail.com</span>
                                </div><!--.col-->
                            </div><!--.row-->
                        </div><!--.card-text-->
                    </div>
                </div><!--.card-->
            </div><!--.col-->
            <div class="col text-center">
                <img src="https://i.ibb.co/tCL8NxR/bodr-coffe.jpg" alt="Bodrcoffee" class="mb-3">
                <br class="clearfix">
                <a href="https://vk.com/likakochura" class="snip1472"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://vk.com/me.natasha" class="snip1472"><i class="fab fa-instagram"></i></a>
                <a href="https://vk.com/ytu_nytu" class="snip1472"><i class="fab fa-telegram-plane"></i></a>
                <a href="https://vk.com/ddazzaikka" class="snip1472"><i class="fab fa-google-plus-g"></i></a>
            </div><!--.col-->
        </div><!--.row-->
    </div>
</section>
<section class="container-fluid sec-sub-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/" style="color: #574235"><ya-tr-span data-type="trSpan">Наверх</ya-tr-span></a>
            </div><!--.col-->
            <div class="col text-left">
                <a href="https://damion.club/uploads/posts/2022-11/1668680661_damion-club-p-milie-kotiki-v-odezhde-vkontakte-79.jpg" class="f-light text-dark">MEOW</a>
            </div><!--.col-->
        </div><!--.row-->
    </div>
</section>
{% endblock %}